.draggable{
  background-color: blue;
  color: white;
  width: 10em;
}
.droppable{
  background-color: aquamarine;
  width: 50em;
  height: 10em;
  text-align: center;
  padding-left: 20em;
  margin: 5em;
}